:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg,

      rgba(65, 29, 86, 1) 0%,

      rgba(35, 14, 49, 1) 25%,

      rgba(15, 6, 21, 1) 50%,

      rgba(6, 2, 9, 1) 75%,

      rgba(0, 0, 0, 1) 100%);
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}